.wrap{
  width: 500px;
  margin: 0 auto;
  
}
.text{
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  margin-top: 30px;
  resize: none;
}
.text h1{
  font-size: 30px;
}
.list{
  border: solid 1px;
  width: 100%;
  margin-top: 20px;
}
.list th,.list td{
  border: solid 1px;
  padding: 3px 0;
}
.list th{
  background-color:lightgrey
}

.ja{
  width: 50%;
}
.la{
  width: 50%;
}
.name{
  width: 40%;
}
.input{
  width: 60%;
}
.list td .area,.list td textarea{
  width: 250px;
  margin: 1px 30px;
  align-items: center;
}
th{
  position: relative;
}
.o{
  position: absolute;

 left: 25px;
}
.btn{
  padding: 30px 0;
  text-align: center; 
}
.btn input{
  background-color:#4190F7;
  color:#fff;
  width: 100px;
  height: 60px;
  border: none;
}
.btn input:hover{
  opacity: 0.6;
}

